
/* MIXIN */
@mixin imgLogoPrincipal {
    width: 250px;
    
}

.imgLogo {
    @include imgLogoPrincipal;
    &:hover {
        background-image: url(../img/imgLogoFondo.png);
        background-size: cover;
        transition: all 1s;
        
    }
}



