
/* MIXIN */
@mixin imgLogoPrincipal {
    width: 250px;
    background-color: bisque
}

.imgLogo {
    @include imgLogoPrincipal;
    &:hover {
        background-image: url(../img/imgLogoFondo.png);
        background-size: cover;
        transition: all 3s;
    }
}




