
/* MIXIN */
@mixin imgLogoPrincipal {
    width: 250px;
}

.imgLogo {
    @include imgLogoPrincipal;
    &:hover {
        background-color: bisque;
        transition: all 1s;
    }
}

@mixin botonesIndex {
    background-color: white;
    color: black;
    border-radius: 10px;
    border: black solid 3px;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
}

.btnIndex {
    @include botonesIndex;
    &:hover {
        background-color: rgb(148, 236, 66);
        transition: all 1s;
    }
}


